*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
.hg
.svn

*~

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.bz
*.bz2
.hg
*.swp

# Tool test outputs.
*tool_test_output*
*test_report.html

.idea/*

.venv*
